<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">Data Source (replace Metrics tab)</h5>
        <div class="gf-form-inline">
            <div class="gf-form">
                <label class="gf-form-label width-8">URL</label>
                <input type="text" class="input-small gf-form-input width-30" ng-model="ctrl.panel.url" ng-change="ctrl.updateClock()" />
            </div>
        </div>
        <div class="gf-form-inline">
            <div class="gf-form">
                <label class="gf-form-label width-8">Interval</label>
                <input type="number" class="input-small gf-form-input width-5" ng-model="ctrl.panel.updateInterval" placeholder="10000" />
                <label class="gf-form-label width-3">ms</label>
            </div>
        </div>
    </div>
</div>
<div class="editor-row">
    <div ng-repeat="sensor in ctrl.panel.sensors">
        <div class="section gf-form-group">
            <h5 class="section-heading">&nbsp</h5>
            <div class="gf-form-inline">
                <!--<span class="gf-form-label"><i class="fa fa-remove pointer" ng-click="ctrl.deleteSensor($index)"></i></span>-->
                <label class="gf-form-label">ID</label>
                <label class="gf-form-label width-5">{{sensor.branchName}}</label>
            </div>
        </div>
        <div class="section gf-form-group">
            <h5 class="section-heading">Info</h5>
            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-8">Alias</label>
                    <input type="text" class="input-small gf-form-input width-8" ng-model="sensor.alias" ng-change="ctrl.dataChanged()"
                    />
                </div>
            </div>
            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-8">Location</label>
                    <input type="text" class="input-small gf-form-input width-8" ng-model="sensor.location" ng-change="ctrl.dataChanged()"
                    />
                </div>
            </div>
        </div>
        <div class="section gf-form-group">
            <h5 class="section-heading">Position</h5>
            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-8">X axis</label>
                    <input type="number" class="input-small gf-form-input width-8" ng-model="sensor.coord[0]" ng-change="ctrl.dataChanged()"
                    />
                </div>
            </div>
            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-8">Y axis</label>
                    <input type="number" class="input-small gf-form-input width-8" ng-model="sensor.coord[1]" ng-change="ctrl.dataChanged()"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="editor-row">
    <div class="gf-form-button">
        <button class="btn btn-inverse" ng-click="ctrl.addSensor();ctrl.dataChanged()"><i class="fa fa-plus"></i>&nbsp;Add Sensor</button>
    </div>
</div>-->