<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">数据源</h5>
        <div class="gf-form-inline">
            <gf-form-switch class="gf-form" label-class="width-8" switch-class="max-width-6" label="使用接口" checked="ctrl.panel.USE_URL"></gf-form-switch>
        </div>
        <div class="gf-form-inline" ng-if="ctrl.panel.USE_URL">
            <div class="gf-form">
                <label class="gf-form-label width-8">URL</label>
                <input type="text" class="input-small gf-form-input width-30" ng-model="ctrl.panel.url" />
            </div>
        </div>
        <div class="gf-form-inline" ng-if="ctrl.panel.USE_URL">
            <div class="gf-form">
                <label class="gf-form-label width-8">请求</label>
                <input type="text" class="input-small gf-form-input width-30" ng-model="ctrl.panel.request" />
            </div>
        </div>
        <div class="gf-form-inline" ng-if="ctrl.panel.USE_URL">
            <div class="gf-form">
                <label class="gf-form-label width-8">间隔</label>
                <input type="number" class="input-small gf-form-input width-5" ng-model="ctrl.panel.updateInterval" placeholder="10000" />
                <label class="gf-form-label width-3">ms</label>
            </div>
        </div>
    </div>
    <h5 class="section-heading" ng-if="!ctrl.panel.USE_URL">编辑假数据</h5>
    <textarea class="gf-form-input gf-form-group" ng-if="!ctrl.panel.USE_URL" ng-model="ctrl.panel.fakeData" rows="10" style="width:100%" ng-change="ctrl.onDataReceived()" ng-model-onblur></textarea>
</div>
<div class="editor-row">
    <div ng-repeat="sensor in ctrl.panel.sensors">
        <div class="section gf-form-group">
            <h5 class="section-heading">标记点</h5>
            <div class="gf-form-inline">
                <!--<span class="gf-form-label"><i class="fa fa-remove pointer" ng-click="ctrl.deleteSensor($index)"></i></span>-->
                <label class="gf-form-label">ID</label>
                <label class="gf-form-label width-5">{{sensor.branchName}}</label>
            </div>
        </div>
        <div class="section gf-form-group">
            <h5 class="section-heading">信息</h5>
            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-8">别名</label>
                    <input type="text" class="input-small gf-form-input width-8" ng-model="sensor.alias" ng-change="ctrl.onDataReceived()"
                    />
                </div>
            </div>
            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-8">所在地</label>
                    <input type="text" class="input-small gf-form-input width-8" ng-model="sensor.location" ng-change="ctrl.onDataReceived()"
                    />
                </div>
            </div>
        </div>
        <div class="section gf-form-group">
            <h5 class="section-heading">位置</h5>
            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-8">X轴坐标</label>
                    <input type="number" class="input-small gf-form-input width-8" ng-model="sensor.coord[0]" ng-change="ctrl.onDataReceived()"
                    />
                </div>
            </div>
            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-8">Y轴坐标</label>
                    <input type="number" class="input-small gf-form-input width-8" ng-model="sensor.coord[1]" ng-change="ctrl.onDataReceived()"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="editor-row">
    <div class="gf-form-button">
        <button class="btn btn-inverse" ng-click="ctrl.addSensor();ctrl.onDataReceived()"><i class="fa fa-plus"></i>&nbsp;Add Sensor</button>
    </div>
</div>-->